<% provide(:title, "About") %>
<h1>About</h1>

<h3>Eagle Eye Scavenger Hunts</h3>
<br/>
<section>
<img src="/eagle.jpg" height="500" width="auto" class="picture" style="float:right">
<p>
  Description of the app and how/why I made it
</p>
</section>

<br/>
<br/>
<br/>
<br/>

<h3>The Founder</h3>
<br/>
<section>
  <img src="/flight_suit_profile.jpg" alt="Micah Stargel" height="500" width="auto" class="picture">
  <p>
    Self Introduction
  </p>
</section>