<% provide(:title, "About") %>
<h1>About</h1>

<h3>Eagle Eye Scavenger Hunts</h3>
<br/>
<section>
<img src="/eagle.jpg" class="profile-right">
<p>
  Many people enjoy puzzles of different kinds of which scavenger hunts are included.
  If someone desired to create or participate in a scavenger hunt for a group, an event,
  or a specific person, they should be able to do so without the hassle of physically
  going to the many locations to plant clues or be able to access a clue that will
  definitely be there and can’t be removed or altered. Instead, they should be able to
  create a list of virtual clues and drop a pin for each of the clue’s locations right
  from the comfort of their home, or anywhere else they see fit as well as simply get
  close enough to a location to view a clue. Scavenger hunts serve a variety of purposes
  ranging from extensive team building, interpersonal growth, and leadership/followership
  development to exploration of a new area (especially cities) and simply general adventure
  and fun to even romance or other family functions and parties. Unfortunately, the few
  providers that do offer scavenger hunts to their customers are subscription-based, which
  certainly dissuades individuals from using the products for the variety of social functions.
  The companies almost all use pre-made hunts rather than giving the liberty for a user to
  create their own in addition to playing. Because it will be web- and GPS-based, a hunt is
  tied to an internet address and a mobile device’s location to reveal the clues. Being
  internet and location based allows for extremely easy access, which will encourage more
  people to use the app, especially in conjunction with the omission of financial commitment.
  To maximize the use of the app, and therefore the positivity that comes from partaking in
  or planning such an enjoyable experience, the key functions of the app should be free,
  intuitive, and customizable.
</p>
</section>

<br/>
<br/>
<br/>
<br/>

<h3>The Founder</h3>
<br/>
<section>
  <img src="/flight_suit_profile.jpg" alt="Micah Stargel" class="profile-left">
  <p>
    By Micah Stargel<br/>
    Bachelor of Science<br/>
    Computer Science<br/>
    Advised by Dr Hayes<br/>
  </p>
</section>