<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Insert instructions how to operate the app.
</p>

<p>
  <% if logged_in? && current_user.admin? %>
    Instructions for Operating the "User" page
  <% end %>
</p>